# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
define('APPLICATION_ID',    '87c00c04');
define('APPLICATION_KEY',   '3e78195a7687a2642fcbec23e540f46c');
